.btn-login {
  background-color: #4CAF50;
  width: 100%;
  color: #fff;
  align-self: center;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

input[type=text], input[type=password] {   
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green; 
  box-sizing: border-box;   
}

.btn-login:hover {   
  opacity: 0.7;
}

.cancelbtn { 
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;  
}   
          
.container-login {
  padding: 25px;
  background-color: #C8E1D8;
}